body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.allbox {
  border: 5px solid #1111111e;
  padding: 1em;
  width: 11.7em;
  height: 14em;
  background-color: #dee5f3;
}

.h5 {
  color: #5a5b61ce;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 3em);
  grid-template-rows: repeat(3, 3em);
  gap: 1px;
  width: 9em;
  height: 9em;
}

.square button {
  width: 100%;
  height: 100%;
  border: 1px solid #1111111e;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffdf4;
  background-color:#94a9e9;
}

.game {
  display: flex;
}

.game-info {
  margin-left: 20px;
  border-left: 3px solid black ;
}

.moveButton button {
  border: none;
  background-color: #94a9e9af;
  border-radius: 6px;
  margin: 2px;
}


